@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@600&family=Rubik:wght@600&display=swap');



*{
    box-sizing: border-box;    
    margin: 0;
    padding:0;
    list-style: none;
    text-decoration: none;
    color: white;
    scroll-behavior: smooth;
    
}
body{
    background-color: #212126;
}

#spanCotent{
    background: linear-gradient(90deg, rgba(33,33,38,1) 0%, rgba(135,79,206,1) 70%); 
    border-radius: 50%;
    position: fixed;
    bottom: 0;
    right: 0;     
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4000;       
    float: right;
    padding: 15px;
    margin: 10px;    
    transition: all 0.2s ease-in;
    cursor: pointer;
   

}


#spanCotent:hover{
    background: linear-gradient(90deg, rgb(24, 24, 27) 0%, rgb(120, 37, 230) 70%); 
    padding: 25px;
}

#spanCotent span{
    font-family: serif;
    font-weight: 600;
    letter-spacing: 4px;
}




.MainSectionContent{
    height: 100vh;
    background-color: #f1f1f1;
    display: grid; 
    grid-template-columns: 0.3fr 3fr 3fr; 
    grid-template-rows: 1fr; 
    grid-template-areas:  ". . ."; 
   
}




/* Header Style */

.HeaderContent{
    background: rgb(33,33,38);
    background: linear-gradient(50deg, rgba(33,33,38,1) 0%, rgba(135,79,206,1));
    color: white;
    height: 100vh;      
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;

}
.HeaderContent div{    
    margin: 10px;    
    border-radius: 50%;
    padding: 5px;    
    cursor: pointer;       
       
}
.HeaderContent div img{
    width: 40px;
    height: 40px;
}


.HeaderContent ul{
    text-align: left;
    padding: 5px;
    display: flex;
    flex-flow: column wrap;
    gap: 10px;    
    letter-spacing: 2px;
    justify-content: center;
    align-items: left;
    
}
.HeaderContent ul li{
    font-family: serif;   
    font-weight: 600; 
    cursor: pointer;    
    padding: 5px;
    transition: all 0.2s ease-in;
    border-bottom: 2px solid transparent;
    border-radius: 5px;
    
    text-align: center;
    letter-spacing: 3px;
    
    
}



.List_header li:hover{
    
    background-color: #2121267e;
}


.menuBtn{
    display: none;
}





.TextContentHeader{
   
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    
}
.spanContainer{
    background: rgb(33,33,38);
    background: linear-gradient(50deg, rgba(33,33,38,1) 0%, rgba(135,79,206,1));
    padding: 10px;
    border-radius: 30%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.spanContainer img{
    width: 35px;
    height: 35px;
    position: relative;
    left: 5px;
    animation: spinner 6s infinite 0.3s forwards ease-in-out;
}


@keyframes spinner{
    0%{transform: scale(0.2);}
    25%{transform: scale(0.5);}
    50%{transform: scale(0.8);}
    100%{transform: scale(1);}
}


.TextContentHeader h2{
    font-size: 3em;
    font-family:  serif;
    letter-spacing: 3px;
    font-weight: bold;
    color: #212126;
}
.TextContentHeader h2 strong{
    color: #874FCE;
  
}


.BallsContent{
    display: flex;
    flex-flow: column wrap;
    gap: 2em;
    align-items: flex-end;
    justify-content: center;
}


.BallsContent div{
 width: 250px;
 height: 250px;
 border-radius: 50%;
 background: rgb(33,33,38);
 background: linear-gradient(50deg, rgba(33,33,38,1) 0%, rgba(135,79,206,1));
 position: relative;
 right: 6em;
 transition: all 0.2s ease-in-out;
}




.BallsContent div:nth-child(2){    
    position: relative;
    right: 20em;
    animation: ballsTransition 5s infinite 0.3s forwards ease-in-out;
    transition: all 0.2s ease-in-out;
}


.BallsContent div:nth-child(1){    
    position: relative;
    right: 20em;
    animation: ballsTransition 5s infinite 0.3s forwards ease-in-out;
    transition: all 0.2s ease-in-out;
}

.BallsContent div:nth-child(3){    
    position: relative;
    right: 20em;
    animation: ballsTransition 10s infinite 1s forwards ease-in-out;
    transition: all 0.2s ease-in-out;
}


@keyframes ballsTransition {
    0%{width: 250px; 
       height: 250px;
       background-color: #212126; 
        transition: all 0.2s ease-in-out;}

    25%{width: 200px; 
        height: 200px;
        background-color: #874FCE;
        transition: all 0.2s ease-in-out}

    50%{width: 150px; 
        height: 150px;
        background-color: #212126;
        transition: all 0.2s ease-in-out}
        
    100%{width: 250px; 
        height: 250px;
        background-color: #874FCE;
        transition: all 0.2s ease-in-out}
}





/* Second Section */



.secondSection{
    position: relative;
    
    background: rgb(33,33,38);
    background: linear-gradient(90deg, rgba(33,33,38,1) 0%, rgba(135,79,206,1) 70%, rgba(255,255,255,1) 100%);  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    padding: 3em; 
    gap: 2em;
}
.infoContent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    gap: 1em;    
    font-family: 'Roboto', serif;
    padding: 10px;
    width: 50%;
    text-align: center;
}

.infoContent h2{
    font-size: 4em;
    letter-spacing: 4px;
    
}
.infoContent p{
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: 300;
    
}
.cardsContent{
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 50px;
    flex-flow:  row wrap;
    width: 50%;
    
}
.cardsContent div{
    max-width: 200px;
    height: 200px;
    background-color: #f1f1f1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    flex-flow: row wrap;
    padding: 10px;
    text-align: center;
    
}
.cardsContent div p{
    color: #864fce;
    font-weight: bold;
    font-size: 15px;
}
.cardsContent img{
    width: 80px;
    height: 80px;
    background-color: #864fce44;
    padding: 5px;
    border-radius: 50%;
}